* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: Chomsky;
  src: url('../assets/fonts/Chomsky.otf');
}

body {
    color: #fff;
    background-color: #292929;
    overflow-x: hidden;
}
.home_banner{
    background-image: url('../assets/imgs/home-background.png');
    background-size: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.home_banner div{
    margin-top: 30vh;
}
.home_banner .right h1{
    font-family: Chomsky, sans-serif;
    font-size: 170px;
    font-weight: 400;
    color: #F9BA2F;
    width: 550px;
    text-align: center;
    line-height: 130px;
}
.home_banner .right h2{
    margin-left: 32%;
}
.home_banner .left{
    margin-left: 5vw;
}
.home_banner .left img{
    margin-left: 2.3vw;
    text-align: center;
    width: 15vw;
}
.home_banner .left p{
    text-align: center;
    width: 300px;
    font-weight: 600;
}
.home_banner .material-symbols-outlined{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
}
.text_destaque{
    color: #F9BA2F;
}
.gradiend_fade_bottom{
    height: 300px;
    background-image: linear-gradient(to bottom, rgba(115, 115, 115, 0.4), #fff0);
}
section{
    padding: 0 100px;
    box-sizing: border-box;
}
.albums_section {
    margin-top: -200px;
}
h2{
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 20px;
}
h3{
    font-size: 22px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.albums_section .albuns_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    column-gap: 30px;
    margin-bottom: 50px;
}
.albums_section .albuns_container img{
    width: 125px;
    border-radius: 10px;
}
.albums_section .albuns_container a{
    text-decoration: none;
    color: #fff;
    display: flex;
    gap: 15px;
    background-color: #4B4B4B;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}
.albums_section .albuns_container a span{
    display: block;
}
.albums_section .albuns_container a span:nth-child(1){
    font-size: 32px;
    font-weight: 600;
    margin-top: 10px;
}

.songs_infos_section .songs_container{
    display: flex;
    gap: 100px;
}
.songs_infos_section .songs_container div{
    flex: 1;
}
.songs_infos_section .songs_container .populares{
    background-color: #4B4B4B;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 10px;
}
.songs_infos_section .songs_container .populares .songs_container_populares{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.songs_infos_section .songs_container .populares .songs_container_populares a{
    display: flex;
    text-decoration: none;
    color: #fff;
    gap: 6px;
}
.songs_infos_section .songs_container .populares .songs_container_populares a img{
    width: 50px;
    border-radius: 5px;
}
.songs_infos_section .songs_container .populares .songs_container_populares a .songs_infos{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 7px;
}
.songs_infos_section .songs_container .populares .songs_container_populares a .songs_infos span:nth-child(1){
    font-weight: 600;
}
.songs_infos_section .songs_container .populares .songs_container_populares a .songs_infos span:nth-child(2){
    font-size: 10px;
}
.songs_infos_section .songs_container .notes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.songs_infos_section .songs_container .notes .note{
    display: flex;
    align-items: center;
    font-weight: 600;
    background-color: #4B4B4B;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 30px;
}
.songs_infos_section .songs_container .notes .note img{
    height: 50%;
}